<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @foreach (var Link in allLinks)
        {
            <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@Link.Name.ToLower()">
                        <span class="@Link.Icon" aria-hidden="true"></span> @Link.Name
                    </NavLink>
            </div>
        }
    </nav>
</div>

@code {

    public class Link
    {
        public required string Name { get; set; }
        public required string Icon { get; set; }
    }

    Link[] allLinks = new[]
    {
        new Link { Name = "Counter", Icon = "bi bi-plus-square-fill-nav-menu" },
        new Link { Name = "Weather", Icon = "bi bi-list-nested-nav-menu" },
        new Link { Name = "Fibonacci", Icon = "bi bi-plus-square-fill-nav-menu" },
        new Link { Name = "Table", Icon = "bi bi-list-nested-nav-menu" },
    };
}
